@charset "UTF-8";
/* 樣式 */
/* 對應html5相同標籤或者呼叫id(標籤自訂名稱-英文、數字和底線；唯一)；class(重複，共用樣式) */
/*
網頁使用的單位
寬度 高度 行距 文字 物件的距離 (外間距與內間距)，只要能計算單位值，都有單位
基礎單位 像素(px)
響應試網頁的單位 百分比(%) vw與vh (裝置可視寬度與高度，新單位)

1.百分比 (%) 的缺點，高度無法顯示
2.vw與vh 的缺點，舊瀏覽 (ie) 不支援;mac瀏覽器 (s) ，因為手機板需要扣除瀏覽器自帶的功能按鈕(在畫面下方)

行距 文字，百分比的單位 em (子物件的設定值會疊家父物件的設定值) 和rem (不受父物件設定值影響)
*/
* {
  margin: 0 auto;
  padding: 0;
  list-style-type: none;
}

img {
  width: 100%;
  height: auto;
}

@media screen and (max-width: 576px) {
  header nav {
    width: 100%;
    height: 65PX;
    background-color: rosybrown;
  }
  header nav li {
    float: left;
  }
  header nav #Logo {
    width: 85%;
    font-size: 32px;
    text-indent: 30px;
    line-height: 65PX;
    background-color: blanchedalmond;
  }
  header nav #Menu {
    width: 15%;
    text-align: center;
    line-height: 65PX;
    text-indent: -9999px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url(../../image/icon/0001.svg);
  }
  header nav .Clear {
    clear: both;
  }
  header nav #Protfolio, header nav #About, header nav #Project, header nav #Contact {
    display: none;
  }
  header #BannerBox {
    width: 100%;
    height: 280px;
    overflow-x: auto;
    background-color: cadetblue;
  }
  header #BannerBox ul {
    width: 500%;
  }
  header #BannerBox ul li {
    width: 100vw;
    height: 280px;
    float: left;
  }
}

@media screen and (min-width: 768px) {
  header nav {
    width: 100%;
    height: 65PX;
    background-color: rosybrown;
  }
  header nav li {
    float: left;
  }
  header nav #Logo {
    width: 90%;
    font-size: 32px;
    text-align: center;
    line-height: 65PX;
    background-color: blanchedalmond;
  }
  header nav #Menu {
    width: 10%;
    text-align: center;
    line-height: 65PX;
    text-indent: -9999px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url(../../image/icon/0001.svg);
  }
  header nav .Clear {
    clear: both;
  }
  header nav #Protfolio, header nav #About, header nav #Project, header nav #Contact {
    display: none;
  }
  header #BannerBox {
    width: 500%;
    height: 280px;
    overflow-x: auto;
    background-color: cadetblue;
  }
  header #BannerBox ul {
    width: 500%;
  }
  header #BannerBox ul li {
    width: 100vw;
    height: 280px;
    float: left;
  }
}

@media screen and (min-width: 992px) {
  header nav {
    width: 100%;
    height: 65PX;
    background-color: rosybrown;
  }
  header nav li {
    float: left;
  }
  header nav #Logo {
    width: 85%;
    font-size: 32px;
    text-indent: 30px;
    line-height: 65PX;
    background-color: blanchedalmond;
  }
  header nav #Menu {
    width: 15%;
    text-align: center;
    line-height: 65PX;
    text-indent: -9999px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url(../../image/icon/0001.svg);
  }
  header nav .Clear {
    clear: both;
  }
  header nav #Protfolio, header nav #About, header nav #Project, header nav #Contact {
    display: block;
  }
  header #BannerBox {
    width: 100%;
    height: 280px;
    overflow-x: auto;
    background-color: cadetblue;
  }
  header #BannerBox ul {
    width: 500%;
  }
  header #BannerBox ul li {
    width: 100vw;
    height: 280px;
    float: left;
  }
}

@media screen and (min-width: 1200px) {
  #main {
    width: 100px;
    background-color: darkgreen;
  }
}

@media screen and (min-width: 1400px) {
  #main {
    width: 100px;
    background-color: darkmagenta;
  }
}
/*# sourceMappingURL=style.css.map */